*{
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("./assets/images/title-background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  color: white;
  margin: 0px;
  padding: 0px;
}

#title-block{
  border-bottom: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  animation: titleEnter 1s ease 0s 1 normal forwards;
}
@keyframes titleEnter {
0% {
  opacity: 0;
  transform: translateX(-250px);
      border-bottom: 2px solid transparent;
}

100% {
  opacity: 1;
  transform: translateX(0);
      border-bottom: 2px solid white;

}
}

#join-button {
  border: 2px solid aqua;
  color: aqua;
  font-weight: bold;
  margin: 0px;
  padding: 18px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; 
  background-color: rgba(0, 0, 0, 0.3);
}
#join-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.desc {
  opacity: 0;
  text-align: center;
  margin: 2vh;
  font-style: italic;

  animation: descEnter 1s ease .75s 1 normal forwards;
}
@keyframes descEnter {
	0% {
		opacity: 0;
	}

	100% {
		opacity: .75;
	}
}
.desc > p {
  margin: 0px;
  padding: 0px;
}

.block{
  margin: 0px;
  padding: 16px;
  border-left: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  /* border-bottom: 2px solid white; */
}

.section-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
}

.club-event {
  border-top: 2px solid white;
}

.club-event > h3, p {
  margin: 15px;
}

#schedule-section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#questions-section {
  background-color: rgba(0, 0, 0, 0.7);
}
#title-section{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}

section {
  margin: 0px;  
  padding: 5%;
  width: 100%;
}
.section-div {
  margin: auto;
  width: fit-content;
}

ul {
  list-style-type: none;
  padding: 0px;
}

h1{
  font-size:48px;
}
h3{
  font-size: 28px;
}